In [1]:
#python packages 
import pandas as pd
import numpy as np

In [17]:
#importing the dataset
labour1_df =  pd.read_csv("14100082.CSV")
labour2_df =  pd.read_csv("14100083.CSV")
labour3_df =  pd.read_csv("14100084.CSV")
labour4_df =  pd.read_csv("14100085.CSV")
labour5_df =  pd.read_csv("14100086.CSV")
labour6_df =  pd.read_csv("14100087.CSV")
labour7_df =  pd.read_csv("14100088.CSV")
labour8_df =  pd.read_csv("14100089.CSV")

In [19]:
labour1_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Immigrant status',
       'Labour force characteristics', 'Age group', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [20]:
labour2_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Immigrant status',
       'Labour force characteristics', 'Age group', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [21]:
labour3_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Immigrant status',
       'Labour force characteristics', 'Sex', 'Age group', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [22]:
labour4_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Immigrant status',
       'Labour force characteristics', 'Sex', 'Age group', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [23]:
labour5_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Immigrant status',
       'Educational attainment', 'Labour force characteristics', 'Sex',
       'Age group', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR',
       'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [24]:
labour6_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Immigrant status',
       'Educational attainment', 'Labour force characteristics', 'Sex',
       'Age group', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR',
       'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [25]:
labour7_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Immigrant status', 'Country of birth',
       'Labour force characteristics', 'Sex', 'Age group', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [26]:
labour8_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Immigrant status', 'Country of birth',
       'Labour force characteristics', 'Sex', 'Age group', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [27]:
labour1_df.describe()

,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,395520.000000,395520.000000,382132.000000,0.0,0.0,395520.0
mean,246.900000,2.100000,463.014091,NaN,NaN,1.0
std,3.207807,1.374774,1619.366097,NaN,NaN,0.0
min,242.000000,0.000000,0.200000,NaN,NaN,1.0
25%,242.000000,0.000000,13.000000,NaN,NaN,1.0
50%,249.000000,3.000000,69.000000,NaN,NaN,1.0
75%,249.000000,3.000000,233.900000,NaN,NaN,1.0
max,249.000000,3.000000,32208.400000,NaN,NaN,1.0

In [28]:
labour2_df.describe()

,REF_DATE,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,32640.000000,32640.000000,32640.000000,31575.000000,0.0,0.0,32640.0
mean,2014.000000,246.900000,2.100000,461.541593,NaN,NaN,1.0
std,4.899055,3.207852,1.374794,1615.564915,NaN,NaN,0.0
min,2006.000000,242.000000,0.000000,0.200000,NaN,NaN,1.0
25%,2010.000000,242.000000,0.000000,12.700000,NaN,NaN,1.0
50%,2014.000000,249.000000,3.000000,68.900000,NaN,NaN,1.0
75%,2018.000000,249.000000,3.000000,232.700000,NaN,NaN,1.0
max,2022.000000,249.000000,3.000000,31772.100000,NaN,NaN,1.0

In [29]:
labour3_df.describe()

,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,148320.000000,148320.000000,147833.000000,0.0,0.0,148320.0
mean,246.900000,2.100000,1184.764392,NaN,NaN,1.0
std,3.207814,1.374777,2799.532017,NaN,NaN,0.0
min,242.000000,0.000000,1.500000,NaN,NaN,1.0
25%,242.000000,0.000000,40.400000,NaN,NaN,1.0
50%,249.000000,3.000000,97.300000,NaN,NaN,1.0
75%,249.000000,3.000000,930.400000,NaN,NaN,1.0
max,249.000000,3.000000,32208.400000,NaN,NaN,1.0

In [30]:
labour4_df.describe()

,REF_DATE,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,12240.00000,12240.000000,12240.000000,12216.000000,0.0,0.0,12240.0
mean,2014.00000,246.900000,2.100000,1180.562713,NaN,NaN,1.0
std,4.89918,3.207934,1.374829,2792.787651,NaN,NaN,0.0
min,2006.00000,242.000000,0.000000,1.500000,NaN,NaN,1.0
25%,2010.00000,242.000000,0.000000,40.200000,NaN,NaN,1.0
50%,2014.00000,249.000000,3.000000,95.500000,NaN,NaN,1.0
75%,2018.00000,249.000000,3.000000,924.300000,NaN,NaN,1.0
max,2022.00000,249.000000,3.000000,31772.100000,NaN,NaN,1.0

In [31]:
labour5_df.describe()

,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,355968.000000,355968.000000,352402.000000,0.0,0.0,355968.0
mean,246.375000,1.875000,635.264167,NaN,NaN,1.0
std,3.388865,1.452371,1862.373226,NaN,NaN,0.0
min,242.000000,0.000000,1.400000,NaN,NaN,1.0
25%,242.000000,0.000000,30.300000,NaN,NaN,1.0
50%,249.000000,3.000000,77.700000,NaN,NaN,1.0
75%,249.000000,3.000000,341.475000,NaN,NaN,1.0
max,249.000000,3.000000,32208.400000,NaN,NaN,1.0

In [32]:
labour6_df.describe()

,REF_DATE,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,29376.000000,29376.000000,29376.000000,29139.000000,0.0,0.0,29376.0
mean,2014.000000,246.375000,1.875000,632.856042,NaN,NaN,1.0
std,4.899063,3.388918,1.452393,1857.255140,NaN,NaN,0.0
min,2006.000000,242.000000,0.000000,1.500000,NaN,NaN,1.0
25%,2010.000000,242.000000,0.000000,30.100000,NaN,NaN,1.0
50%,2014.000000,249.000000,3.000000,77.400000,NaN,NaN,1.0
75%,2018.000000,249.000000,3.000000,338.550000,NaN,NaN,1.0
max,2022.000000,249.000000,3.000000,31772.100000,NaN,NaN,1.0

In [33]:
labour7_df.describe()

,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,326304.000000,326304.000000,319630.000000,0.0,0.0,326304.0
mean,246.375000,1.875000,698.372025,NaN,NaN,1.0
std,3.388866,1.452371,2297.144474,NaN,NaN,0.0
min,242.000000,0.000000,1.500000,NaN,NaN,1.0
25%,242.000000,0.000000,26.600000,NaN,NaN,1.0
50%,249.000000,3.000000,74.200000,NaN,NaN,1.0
75%,249.000000,3.000000,250.700000,NaN,NaN,1.0
max,249.000000,3.000000,32208.400000,NaN,NaN,1.0

In [34]:
labour8_df.describe()

,REF_DATE,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,26928.00000,26928.000000,26928.000000,26430.000000,0.0,0.0,26928.0
mean,2014.00000,246.375000,1.875000,695.693401,NaN,NaN,1.0
std,4.89907,3.388923,1.452396,2291.970136,NaN,NaN,0.0
min,2006.00000,242.000000,0.000000,1.500000,NaN,NaN,1.0
25%,2010.00000,242.000000,0.000000,26.400000,NaN,NaN,1.0
50%,2014.00000,249.000000,3.000000,73.850000,NaN,NaN,1.0
75%,2018.00000,249.000000,3.000000,249.300000,NaN,NaN,1.0
max,2022.00000,249.000000,3.000000,31772.100000,NaN,NaN,1.0

In [35]:
print(labour1_df.isnull().sum())

REF_DATE                             0
GEO                                  0
DGUID                            24720
Immigrant status                     0
Labour force characteristics         0
Age group                            0
UOM                                  0
UOM_ID                               0
SCALAR_FACTOR                        0
SCALAR_ID                            0
VECTOR                               0
COORDINATE                           0
VALUE                            13388
STATUS                          382132
SYMBOL                          395520
TERMINATED                      395520
DECIMALS                             0
dtype: int64

In [36]:
print(labour2_df.isnull().sum())

REF_DATE                            0
GEO                                 0
DGUID                            2040
Immigrant status                    0
Labour force characteristics        0
Age group                           0
UOM                                 0
UOM_ID                              0
SCALAR_FACTOR                       0
SCALAR_ID                           0
VECTOR                              0
COORDINATE                          0
VALUE                            1065
STATUS                          31575
SYMBOL                          32640
TERMINATED                      32640
DECIMALS                            0
dtype: int64

In [37]:
print(labour3_df.isnull().sum())

REF_DATE                             0
GEO                                  0
DGUID                                0
Immigrant status                     0
Labour force characteristics         0
Sex                                  0
Age group                            0
UOM                                  0
UOM_ID                               0
SCALAR_FACTOR                        0
SCALAR_ID                            0
VECTOR                               0
COORDINATE                           0
VALUE                              487
STATUS                          147833
SYMBOL                          148320
TERMINATED                      148320
DECIMALS                             0
dtype: int64

In [38]:
print(labour4_df.isnull().sum())

REF_DATE                            0
GEO                                 0
DGUID                               0
Immigrant status                    0
Labour force characteristics        0
Sex                                 0
Age group                           0
UOM                                 0
UOM_ID                              0
SCALAR_FACTOR                       0
SCALAR_ID                           0
VECTOR                              0
COORDINATE                          0
VALUE                              24
STATUS                          12216
SYMBOL                          12240
TERMINATED                      12240
DECIMALS                            0
dtype: int64

In [39]:
print(labour5_df.isnull().sum())

REF_DATE                             0
GEO                                  0
DGUID                                0
Immigrant status                     0
Educational attainment               0
Labour force characteristics         0
Sex                                  0
Age group                            0
UOM                                  0
UOM_ID                               0
SCALAR_FACTOR                        0
SCALAR_ID                            0
VECTOR                               0
COORDINATE                           0
VALUE                             3566
STATUS                          352402
SYMBOL                          355968
TERMINATED                      355968
DECIMALS                             0
dtype: int64

In [40]:
print(labour6_df.isnull().sum())

REF_DATE                            0
GEO                                 0
DGUID                               0
Immigrant status                    0
Educational attainment              0
Labour force characteristics        0
Sex                                 0
Age group                           0
UOM                                 0
UOM_ID                              0
SCALAR_FACTOR                       0
SCALAR_ID                           0
VECTOR                              0
COORDINATE                          0
VALUE                             237
STATUS                          29139
SYMBOL                          29376
TERMINATED                      29376
DECIMALS                            0
dtype: int64

In [41]:
print(labour7_df.isnull().sum())

REF_DATE                             0
GEO                                  0
DGUID                                0
Immigrant status                     0
Country of birth                     0
Labour force characteristics         0
Sex                                  0
Age group                            0
UOM                                  0
UOM_ID                               0
SCALAR_FACTOR                        0
SCALAR_ID                            0
VECTOR                               0
COORDINATE                           0
VALUE                             6674
STATUS                          319630
SYMBOL                          326304
TERMINATED                      326304
DECIMALS                             0
dtype: int64

In [42]:
print(labour8_df.isnull().sum())

REF_DATE                            0
GEO                                 0
DGUID                               0
Immigrant status                    0
Country of birth                    0
Labour force characteristics        0
Sex                                 0
Age group                           0
UOM                                 0
UOM_ID                              0
SCALAR_FACTOR                       0
SCALAR_ID                           0
VECTOR                              0
COORDINATE                          0
VALUE                             498
STATUS                          26430
SYMBOL                          26928
TERMINATED                      26928
DECIMALS                            0
dtype: int64

In [66]:
labour1a = labour1_df.drop(['DGUID','UOM_ID','SCALAR_ID','VECTOR','COORDINATE','DECIMALS','STATUS','SYMBOL','TERMINATED'], axis = 1)
labour1a

,REF_DATE,GEO,Immigrant status,Labour force characteristics,Age group,UOM,SCALAR_FACTOR,VALUE
0,06-Mar,Canada,Total population,Population,15 years and over,Persons,thousands,25979.7
1,06-Mar,Canada,Total population,Population,25 to 54 years,Persons,thousands,14084.6
2,06-Mar,Canada,Total population,Labour force,15 years and over,Persons,thousands,17203.9
3,06-Mar,Canada,Total population,Labour force,25 to 54 years,Persons,thousands,12078.2
4,06-Mar,Canada,Total population,Employment,15 years and over,Persons,thousands,15990.3
...,...,...,...,...,...,...,...,...
395515,23-Apr,"Vancouver, British Columbia",Born in Canada,Unemployment rate,25 to 54 years,Percentage,units,3.4
395516,23-Apr,"Vancouver, British Columbia",Born in Canada,Participation rate,15 years and over,Percentage,units,67.9
395517,23-Apr,"Vancouver, British Columbia",Born in Canada,Participation rate,25 to 54 years,Percentage,units,88.9
395518,23-Apr,"Vancouver, British Columbia",Born in Canada,Employment rate,15 years and over,Percentage,units,65.0
395519,23-Apr,"Vancouver, British Columbia",Born in Canada,Employment rate,25 to 54 years,Percentage,units,85.8

In [67]:
labour2a = labour2_df.drop(['DGUID','UOM_ID','SCALAR_ID','VECTOR','COORDINATE','DECIMALS','STATUS','SYMBOL','TERMINATED'], axis = 1)
labour2a

,REF_DATE,GEO,Immigrant status,Labour force characteristics,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006,Canada,Total population,Population,15 years and over,Persons,thousands,26121.7
1,2006,Canada,Total population,Population,25 to 54 years,Persons,thousands,14115.7
2,2006,Canada,Total population,Labour force,15 years and over,Persons,thousands,17551.7
3,2006,Canada,Total population,Labour force,25 to 54 years,Persons,thousands,12182.2
4,2006,Canada,Total population,Employment,15 years and over,Persons,thousands,16413.7
...,...,...,...,...,...,...,...,...
32635,2022,"Vancouver, British Columbia",Born in Canada,Unemployment rate,25 to 54 years,Percentage,units,3.8
32636,2022,"Vancouver, British Columbia",Born in Canada,Participation rate,15 years and over,Percentage,units,70.7
32637,2022,"Vancouver, British Columbia",Born in Canada,Participation rate,25 to 54 years,Percentage,units,90.9
32638,2022,"Vancouver, British Columbia",Born in Canada,Employment rate,15 years and over,Percentage,units,67.3
32639,2022,"Vancouver, British Columbia",Born in Canada,Employment rate,25 to 54 years,Percentage,units,87.5

In [68]:
labour3a = labour3_df.drop(['DGUID','UOM_ID','SCALAR_ID','VECTOR','COORDINATE','DECIMALS','STATUS','SYMBOL','TERMINATED'], axis = 1)
labour3a

,REF_DATE,GEO,Immigrant status,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006-03,Canada,Total population,Population,Both sexes,15 years and over,Persons,thousands,25979.7
1,2006-03,Canada,Total population,Population,Both sexes,15 to 24 years,Persons,thousands,4330.2
2,2006-03,Canada,Total population,Population,Both sexes,25 to 54 years,Persons,thousands,14084.6
3,2006-03,Canada,Total population,Population,Both sexes,55 years and over,Persons,thousands,7564.9
4,2006-03,Canada,Total population,Population,Males,15 years and over,Persons,thousands,12784.5
...,...,...,...,...,...,...,...,...,...
148315,2023-04,Canada,Born in Canada,Employment rate,Males,55 years and over,Percentage,units,38.4
148316,2023-04,Canada,Born in Canada,Employment rate,Females,15 years and over,Percentage,units,58.8
148317,2023-04,Canada,Born in Canada,Employment rate,Females,15 to 24 years,Percentage,units,59.0
148318,2023-04,Canada,Born in Canada,Employment rate,Females,25 to 54 years,Percentage,units,84.9
148319,2023-04,Canada,Born in Canada,Employment rate,Females,55 years and over,Percentage,units,30.3

In [69]:
labour4a = labour4_df.drop(['DGUID','UOM_ID','SCALAR_ID','VECTOR','COORDINATE','DECIMALS','STATUS','SYMBOL','TERMINATED'], axis = 1)
labour4a

,REF_DATE,GEO,Immigrant status,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006,Canada,Total population,Population,Both sexes,15 years and over,Persons,thousands,26121.7
1,2006,Canada,Total population,Population,Both sexes,15 to 24 years,Persons,thousands,4346.9
2,2006,Canada,Total population,Population,Both sexes,25 to 54 years,Persons,thousands,14115.7
3,2006,Canada,Total population,Population,Both sexes,55 years and over,Persons,thousands,7659.1
4,2006,Canada,Total population,Population,Males,15 years and over,Persons,thousands,12854.2
...,...,...,...,...,...,...,...,...,...
12235,2022,Canada,Born in Canada,Employment rate,Males,55 years and over,Percentage,units,38.8
12236,2022,Canada,Born in Canada,Employment rate,Females,15 years and over,Percentage,units,58.8
12237,2022,Canada,Born in Canada,Employment rate,Females,15 to 24 years,Percentage,units,61.8
12238,2022,Canada,Born in Canada,Employment rate,Females,25 to 54 years,Percentage,units,84.4
12239,2022,Canada,Born in Canada,Employment rate,Females,55 years and over,Percentage,units,29.8

In [70]:
labour5a = labour5_df.drop(['DGUID','UOM_ID','SCALAR_ID','VECTOR','COORDINATE','DECIMALS','STATUS','SYMBOL','TERMINATED'], axis = 1)
labour5a

,REF_DATE,GEO,Immigrant status,Educational attainment,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006-03,Canada,Total population,"Total, all education levels",Population,Both sexes,15 years and over,Persons,thousands,25979.7
1,2006-03,Canada,Total population,"Total, all education levels",Population,Both sexes,25 to 54 years,Persons,thousands,14084.6
2,2006-03,Canada,Total population,"Total, all education levels",Population,Males,15 years and over,Persons,thousands,12784.5
3,2006-03,Canada,Total population,"Total, all education levels",Population,Males,25 to 54 years,Persons,thousands,7035.0
4,2006-03,Canada,Total population,"Total, all education levels",Population,Females,15 years and over,Persons,thousands,13195.3
...,...,...,...,...,...,...,...,...,...,...
355963,2023-04,Canada,Born in Canada,University degree,Employment rate,Both sexes,25 to 54 years,Percentage,units,92.3
355964,2023-04,Canada,Born in Canada,University degree,Employment rate,Males,15 years and over,Percentage,units,73.6
355965,2023-04,Canada,Born in Canada,University degree,Employment rate,Males,25 to 54 years,Percentage,units,92.7
355966,2023-04,Canada,Born in Canada,University degree,Employment rate,Females,15 years and over,Percentage,units,75.9
355967,2023-04,Canada,Born in Canada,University degree,Employment rate,Females,25 to 54 years,Percentage,units,92.0

In [71]:
labour6a = labour6_df.drop(['DGUID','UOM_ID','SCALAR_ID','VECTOR','COORDINATE','DECIMALS','STATUS','SYMBOL','TERMINATED'], axis = 1)
labour6a

,REF_DATE,GEO,Immigrant status,Educational attainment,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006,Canada,Total population,"Total, all education levels",Population,Both sexes,15 years and over,Persons,thousands,26121.7
1,2006,Canada,Total population,"Total, all education levels",Population,Both sexes,25 to 54 years,Persons,thousands,14115.7
2,2006,Canada,Total population,"Total, all education levels",Population,Males,15 years and over,Persons,thousands,12854.2
3,2006,Canada,Total population,"Total, all education levels",Population,Males,25 to 54 years,Persons,thousands,7050.8
4,2006,Canada,Total population,"Total, all education levels",Population,Females,15 years and over,Persons,thousands,13267.6
...,...,...,...,...,...,...,...,...,...,...
29371,2022,Canada,Born in Canada,University degree,Employment rate,Both sexes,25 to 54 years,Percentage,units,91.8
29372,2022,Canada,Born in Canada,University degree,Employment rate,Males,15 years and over,Percentage,units,74.6
29373,2022,Canada,Born in Canada,University degree,Employment rate,Males,25 to 54 years,Percentage,units,93.0
29374,2022,Canada,Born in Canada,University degree,Employment rate,Females,15 years and over,Percentage,units,74.4
29375,2022,Canada,Born in Canada,University degree,Employment rate,Females,25 to 54 years,Percentage,units,90.9

In [72]:
labour7a = labour7_df.drop(['DGUID','UOM_ID','SCALAR_ID','VECTOR','COORDINATE','DECIMALS','STATUS','SYMBOL','TERMINATED'], axis = 1)
labour7a

,REF_DATE,GEO,Immigrant status,Country of birth,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006-03,Canada,Total population,Total population,Population,Both sexes,15 years and over,Persons,thousands,25979.7
1,2006-03,Canada,Total population,Total population,Population,Both sexes,25 to 54 years,Persons,thousands,14084.6
2,2006-03,Canada,Total population,Total population,Population,Males,15 years and over,Persons,thousands,12784.5
3,2006-03,Canada,Total population,Total population,Population,Males,25 to 54 years,Persons,thousands,7035.0
4,2006-03,Canada,Total population,Total population,Population,Females,15 years and over,Persons,thousands,13195.3
...,...,...,...,...,...,...,...,...,...,...
326299,2023-04,Canada,Born in Canada,Canada,Employment rate,Both sexes,25 to 54 years,Percentage,units,85.8
326300,2023-04,Canada,Born in Canada,Canada,Employment rate,Males,15 years and over,Percentage,units,63.4
326301,2023-04,Canada,Born in Canada,Canada,Employment rate,Males,25 to 54 years,Percentage,units,86.6
326302,2023-04,Canada,Born in Canada,Canada,Employment rate,Females,15 years and over,Percentage,units,58.8
326303,2023-04,Canada,Born in Canada,Canada,Employment rate,Females,25 to 54 years,Percentage,units,84.9

In [73]:
labour8a = labour8_df.drop(['DGUID','UOM_ID','SCALAR_ID','VECTOR','COORDINATE','DECIMALS','STATUS','SYMBOL','TERMINATED'], axis = 1)
labour8a

,REF_DATE,GEO,Immigrant status,Country of birth,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006,Canada,Total population,Total population,Population,Both sexes,15 years and over,Persons,thousands,26121.7
1,2006,Canada,Total population,Total population,Population,Both sexes,25 to 54 years,Persons,thousands,14115.7
2,2006,Canada,Total population,Total population,Population,Males,15 years and over,Persons,thousands,12854.2
3,2006,Canada,Total population,Total population,Population,Males,25 to 54 years,Persons,thousands,7050.8
4,2006,Canada,Total population,Total population,Population,Females,15 years and over,Persons,thousands,13267.6
...,...,...,...,...,...,...,...,...,...,...
26923,2022,Canada,Born in Canada,Canada,Employment rate,Both sexes,25 to 54 years,Percentage,units,86.3
26924,2022,Canada,Born in Canada,Canada,Employment rate,Males,15 years and over,Percentage,units,64.9
26925,2022,Canada,Born in Canada,Canada,Employment rate,Males,25 to 54 years,Percentage,units,88.1
26926,2022,Canada,Born in Canada,Canada,Employment rate,Females,15 years and over,Percentage,units,58.8
26927,2022,Canada,Born in Canada,Canada,Employment rate,Females,25 to 54 years,Percentage,units,84.4

In [74]:
laboura = labour1a.dropna()
print(laboura.isnull().sum())

REF_DATE                        0
GEO                             0
Immigrant status                0
Labour force characteristics    0
Age group                       0
UOM                             0
SCALAR_FACTOR                   0
VALUE                           0
dtype: int64

In [75]:
labourb = labour2a.dropna()
print(labourb.isnull().sum())

REF_DATE                        0
GEO                             0
Immigrant status                0
Labour force characteristics    0
Age group                       0
UOM                             0
SCALAR_FACTOR                   0
VALUE                           0
dtype: int64

In [76]:
labourc = labour3a.dropna()
print(labourc.isnull().sum())

REF_DATE                        0
GEO                             0
Immigrant status                0
Labour force characteristics    0
Sex                             0
Age group                       0
UOM                             0
SCALAR_FACTOR                   0
VALUE                           0
dtype: int64

In [77]:
labourd = labour4a.dropna()
print(labourd.isnull().sum())

REF_DATE                        0
GEO                             0
Immigrant status                0
Labour force characteristics    0
Sex                             0
Age group                       0
UOM                             0
SCALAR_FACTOR                   0
VALUE                           0
dtype: int64

In [78]:
laboure = labour5a.dropna()
print(laboure.isnull().sum())

REF_DATE                        0
GEO                             0
Immigrant status                0
Educational attainment          0
Labour force characteristics    0
Sex                             0
Age group                       0
UOM                             0
SCALAR_FACTOR                   0
VALUE                           0
dtype: int64

In [79]:
labourf = labour6a.dropna()
print(labourf.isnull().sum())

REF_DATE                        0
GEO                             0
Immigrant status                0
Educational attainment          0
Labour force characteristics    0
Sex                             0
Age group                       0
UOM                             0
SCALAR_FACTOR                   0
VALUE                           0
dtype: int64

In [80]:
labourg = labour7a.dropna()
print(labourg.isnull().sum())

REF_DATE                        0
GEO                             0
Immigrant status                0
Country of birth                0
Labour force characteristics    0
Sex                             0
Age group                       0
UOM                             0
SCALAR_FACTOR                   0
VALUE                           0
dtype: int64

In [81]:
labourh = labour8a.dropna()
print(labourh.isnull().sum())

REF_DATE                        0
GEO                             0
Immigrant status                0
Country of birth                0
Labour force characteristics    0
Sex                             0
Age group                       0
UOM                             0
SCALAR_FACTOR                   0
VALUE                           0
dtype: int64

In [83]:
laboura

,REF_DATE,GEO,Immigrant status,Labour force characteristics,Age group,UOM,SCALAR_FACTOR,VALUE
0,06-Mar,Canada,Total population,Population,15 years and over,Persons,thousands,25979.7
1,06-Mar,Canada,Total population,Population,25 to 54 years,Persons,thousands,14084.6
2,06-Mar,Canada,Total population,Labour force,15 years and over,Persons,thousands,17203.9
3,06-Mar,Canada,Total population,Labour force,25 to 54 years,Persons,thousands,12078.2
4,06-Mar,Canada,Total population,Employment,15 years and over,Persons,thousands,15990.3
...,...,...,...,...,...,...,...,...
395515,23-Apr,"Vancouver, British Columbia",Born in Canada,Unemployment rate,25 to 54 years,Percentage,units,3.4
395516,23-Apr,"Vancouver, British Columbia",Born in Canada,Participation rate,15 years and over,Percentage,units,67.9
395517,23-Apr,"Vancouver, British Columbia",Born in Canada,Participation rate,25 to 54 years,Percentage,units,88.9
395518,23-Apr,"Vancouver, British Columbia",Born in Canada,Employment rate,15 years and over,Percentage,units,65.0
395519,23-Apr,"Vancouver, British Columbia",Born in Canada,Employment rate,25 to 54 years,Percentage,units,85.8

In [84]:
labourb

,REF_DATE,GEO,Immigrant status,Labour force characteristics,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006,Canada,Total population,Population,15 years and over,Persons,thousands,26121.7
1,2006,Canada,Total population,Population,25 to 54 years,Persons,thousands,14115.7
2,2006,Canada,Total population,Labour force,15 years and over,Persons,thousands,17551.7
3,2006,Canada,Total population,Labour force,25 to 54 years,Persons,thousands,12182.2
4,2006,Canada,Total population,Employment,15 years and over,Persons,thousands,16413.7
...,...,...,...,...,...,...,...,...
32635,2022,"Vancouver, British Columbia",Born in Canada,Unemployment rate,25 to 54 years,Percentage,units,3.8
32636,2022,"Vancouver, British Columbia",Born in Canada,Participation rate,15 years and over,Percentage,units,70.7
32637,2022,"Vancouver, British Columbia",Born in Canada,Participation rate,25 to 54 years,Percentage,units,90.9
32638,2022,"Vancouver, British Columbia",Born in Canada,Employment rate,15 years and over,Percentage,units,67.3
32639,2022,"Vancouver, British Columbia",Born in Canada,Employment rate,25 to 54 years,Percentage,units,87.5

In [85]:
labourc

,REF_DATE,GEO,Immigrant status,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006-03,Canada,Total population,Population,Both sexes,15 years and over,Persons,thousands,25979.7
1,2006-03,Canada,Total population,Population,Both sexes,15 to 24 years,Persons,thousands,4330.2
2,2006-03,Canada,Total population,Population,Both sexes,25 to 54 years,Persons,thousands,14084.6
3,2006-03,Canada,Total population,Population,Both sexes,55 years and over,Persons,thousands,7564.9
4,2006-03,Canada,Total population,Population,Males,15 years and over,Persons,thousands,12784.5
...,...,...,...,...,...,...,...,...,...
148315,2023-04,Canada,Born in Canada,Employment rate,Males,55 years and over,Percentage,units,38.4
148316,2023-04,Canada,Born in Canada,Employment rate,Females,15 years and over,Percentage,units,58.8
148317,2023-04,Canada,Born in Canada,Employment rate,Females,15 to 24 years,Percentage,units,59.0
148318,2023-04,Canada,Born in Canada,Employment rate,Females,25 to 54 years,Percentage,units,84.9
148319,2023-04,Canada,Born in Canada,Employment rate,Females,55 years and over,Percentage,units,30.3

In [86]:
labourd

,REF_DATE,GEO,Immigrant status,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006,Canada,Total population,Population,Both sexes,15 years and over,Persons,thousands,26121.7
1,2006,Canada,Total population,Population,Both sexes,15 to 24 years,Persons,thousands,4346.9
2,2006,Canada,Total population,Population,Both sexes,25 to 54 years,Persons,thousands,14115.7
3,2006,Canada,Total population,Population,Both sexes,55 years and over,Persons,thousands,7659.1
4,2006,Canada,Total population,Population,Males,15 years and over,Persons,thousands,12854.2
...,...,...,...,...,...,...,...,...,...
12235,2022,Canada,Born in Canada,Employment rate,Males,55 years and over,Percentage,units,38.8
12236,2022,Canada,Born in Canada,Employment rate,Females,15 years and over,Percentage,units,58.8
12237,2022,Canada,Born in Canada,Employment rate,Females,15 to 24 years,Percentage,units,61.8
12238,2022,Canada,Born in Canada,Employment rate,Females,25 to 54 years,Percentage,units,84.4
12239,2022,Canada,Born in Canada,Employment rate,Females,55 years and over,Percentage,units,29.8

In [87]:
laboure

,REF_DATE,GEO,Immigrant status,Educational attainment,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006-03,Canada,Total population,"Total, all education levels",Population,Both sexes,15 years and over,Persons,thousands,25979.7
1,2006-03,Canada,Total population,"Total, all education levels",Population,Both sexes,25 to 54 years,Persons,thousands,14084.6
2,2006-03,Canada,Total population,"Total, all education levels",Population,Males,15 years and over,Persons,thousands,12784.5
3,2006-03,Canada,Total population,"Total, all education levels",Population,Males,25 to 54 years,Persons,thousands,7035.0
4,2006-03,Canada,Total population,"Total, all education levels",Population,Females,15 years and over,Persons,thousands,13195.3
...,...,...,...,...,...,...,...,...,...,...
355963,2023-04,Canada,Born in Canada,University degree,Employment rate,Both sexes,25 to 54 years,Percentage,units,92.3
355964,2023-04,Canada,Born in Canada,University degree,Employment rate,Males,15 years and over,Percentage,units,73.6
355965,2023-04,Canada,Born in Canada,University degree,Employment rate,Males,25 to 54 years,Percentage,units,92.7
355966,2023-04,Canada,Born in Canada,University degree,Employment rate,Females,15 years and over,Percentage,units,75.9
355967,2023-04,Canada,Born in Canada,University degree,Employment rate,Females,25 to 54 years,Percentage,units,92.0

In [88]:
labourf

,REF_DATE,GEO,Immigrant status,Educational attainment,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006,Canada,Total population,"Total, all education levels",Population,Both sexes,15 years and over,Persons,thousands,26121.7
1,2006,Canada,Total population,"Total, all education levels",Population,Both sexes,25 to 54 years,Persons,thousands,14115.7
2,2006,Canada,Total population,"Total, all education levels",Population,Males,15 years and over,Persons,thousands,12854.2
3,2006,Canada,Total population,"Total, all education levels",Population,Males,25 to 54 years,Persons,thousands,7050.8
4,2006,Canada,Total population,"Total, all education levels",Population,Females,15 years and over,Persons,thousands,13267.6
...,...,...,...,...,...,...,...,...,...,...
29371,2022,Canada,Born in Canada,University degree,Employment rate,Both sexes,25 to 54 years,Percentage,units,91.8
29372,2022,Canada,Born in Canada,University degree,Employment rate,Males,15 years and over,Percentage,units,74.6
29373,2022,Canada,Born in Canada,University degree,Employment rate,Males,25 to 54 years,Percentage,units,93.0
29374,2022,Canada,Born in Canada,University degree,Employment rate,Females,15 years and over,Percentage,units,74.4
29375,2022,Canada,Born in Canada,University degree,Employment rate,Females,25 to 54 years,Percentage,units,90.9

In [89]:
labourg

,REF_DATE,GEO,Immigrant status,Country of birth,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006-03,Canada,Total population,Total population,Population,Both sexes,15 years and over,Persons,thousands,25979.7
1,2006-03,Canada,Total population,Total population,Population,Both sexes,25 to 54 years,Persons,thousands,14084.6
2,2006-03,Canada,Total population,Total population,Population,Males,15 years and over,Persons,thousands,12784.5
3,2006-03,Canada,Total population,Total population,Population,Males,25 to 54 years,Persons,thousands,7035.0
4,2006-03,Canada,Total population,Total population,Population,Females,15 years and over,Persons,thousands,13195.3
...,...,...,...,...,...,...,...,...,...,...
326299,2023-04,Canada,Born in Canada,Canada,Employment rate,Both sexes,25 to 54 years,Percentage,units,85.8
326300,2023-04,Canada,Born in Canada,Canada,Employment rate,Males,15 years and over,Percentage,units,63.4
326301,2023-04,Canada,Born in Canada,Canada,Employment rate,Males,25 to 54 years,Percentage,units,86.6
326302,2023-04,Canada,Born in Canada,Canada,Employment rate,Females,15 years and over,Percentage,units,58.8
326303,2023-04,Canada,Born in Canada,Canada,Employment rate,Females,25 to 54 years,Percentage,units,84.9

In [90]:
labourh

,REF_DATE,GEO,Immigrant status,Country of birth,Labour force characteristics,Sex,Age group,UOM,SCALAR_FACTOR,VALUE
0,2006,Canada,Total population,Total population,Population,Both sexes,15 years and over,Persons,thousands,26121.7
1,2006,Canada,Total population,Total population,Population,Both sexes,25 to 54 years,Persons,thousands,14115.7
2,2006,Canada,Total population,Total population,Population,Males,15 years and over,Persons,thousands,12854.2
3,2006,Canada,Total population,Total population,Population,Males,25 to 54 years,Persons,thousands,7050.8
4,2006,Canada,Total population,Total population,Population,Females,15 years and over,Persons,thousands,13267.6
...,...,...,...,...,...,...,...,...,...,...
26923,2022,Canada,Born in Canada,Canada,Employment rate,Both sexes,25 to 54 years,Percentage,units,86.3
26924,2022,Canada,Born in Canada,Canada,Employment rate,Males,15 years and over,Percentage,units,64.9
26925,2022,Canada,Born in Canada,Canada,Employment rate,Males,25 to 54 years,Percentage,units,88.1
26926,2022,Canada,Born in Canada,Canada,Employment rate,Females,15 years and over,Percentage,units,58.8
26927,2022,Canada,Born in Canada,Canada,Employment rate,Females,25 to 54 years,Percentage,units,84.4

In [93]:
laboura.to_excel("C:\\Users\\johns\\OneDrive\\Desktop\\labour force\\LFC by immigrant status, three-month moving average, unadjusted for seasonality.xlsx")

In [94]:
labourb.to_excel("C:\\Users\\johns\\OneDrive\\Desktop\\labour force\\LFC by immigrant status.xlsx")

In [95]:
labourc.to_excel("C:\\Users\\johns\\OneDrive\\Desktop\\labour force\\LFCoI by sex and age group, three-month moving average, unadjusted for seasonality.xlsx")

In [96]:
labourd.to_excel("C:\\Users\\johns\\OneDrive\\Desktop\\labour force\\LFCoI by sex and age group.xlsx")

In [97]:
laboure.to_excel("C:\\Users\\johns\\OneDrive\\Desktop\\labour force\\LFCoI by educational attainment, three-month moving average, unadjusted for seasonality.xlsx")

In [98]:
labourf.to_excel("C:\\Users\\johns\\OneDrive\\Desktop\\labour force\\LFCoI by educational attainment.xlsx")

In [99]:
labourg.to_excel("C:\\Users\\johns\\OneDrive\\Desktop\\labour force\\LFCoI by country of birth, three-month moving average, unadjusted for seasonality.xlsx")

In [100]:
labourh.to_excel("C:\\Users\\johns\\OneDrive\\Desktop\\labour force\\LFCoI by country of birth.xlsx")